#define DEVICE_PUBLIC_NAME "..."

#define DEVICE_IP IPAddress(..., ..., ..., ...)
#define GATEWAY_IP IPAddress(..., ..., ..., ...)
#define NETWORK_MASK IPAddress(255, 255, 255, 0)

#define WIFI_SSID "..."
#define WIFI_PASS "..."

#define MQTT_SERVER_IP IPAddress(..., ..., ..., ...)
#define MQTT_CLIENT_NAME DEVICE_PUBLIC_NAME
#define MQTT_TOPIC_PREFIX ".../"

